body{
    background-color: rgb(75,182,236);

}

h1,h3{
    color:white;
}

.BUTTONS{
    border-style: ridge;
    box-shadow: 10,20,black;
}

.DESIGN{
    color: white;
    background-color:rgb(57, 130, 172);
    padding-right: 60px;
    padding-top: 10px;
    border-style: ridge;
    text-align: center;
    font-size: 20px;
    
}